* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(126, 126, 126, 0.356);
  margin: 100px auto;
  width: 400px;
  height: 400px;
  border-radius: 8px;
}

.boxInput {
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  gap: 15px;
  margin: 10px;
}

.boxInput span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

.boxInput input[type=text] {
  width: 40px;
}

.boxInput input[type=range] {
  width: 155px;
  outline: 0;
}

.boxColor {
  border-radius: 5px;
  margin-top: 10px;
  width: 150px;
  height: 150px;
}
